
NEXT_PUBLIC_SUPABASE_URL=https://fyqthyopzxrnnnwxseta.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5cXRoeW9wenhybm5ud3hzZXRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExODAzNTMsImV4cCI6MjA5Njc1NjM1M30.b2SsQNuY8LVLA4Y1tNdSUkWl93ZZZ3_FN3bBMAINleM